
<div class="footer">
    <div class="section1">
        <h2>Contact info:-</h2>
        <div mat-icon-button>
            <mat-icon>call</mat-icon>&nbsp;<strong style="font-size: large;"><a href="tel:+916302587280">+91 6302587280</a></strong>
        </div>
        <div mat-icon-button>
            <p><mat-icon>email</mat-icon>&nbsp; <a href="mailto:venkatrathnam.rfchh@gmail.com">venkatrathnam.rfchh@gmail.com</a></p>
            <p><mat-icon>email</mat-icon>&nbsp;<a href="mailto:venkatrathnam.rfchh@gmail.com">venkatrathnam.rfchh@gmail.com</a></p>
        </div>
    </div>
    <div class="section2">
        <h2>Back to pages</h2>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/skills" routerLinkActive="active">Skills</a>
    </div>
    <div class="section3">
        <h2>Accounts</h2>
        <div mat-icon-button>
            <a href="https://www.linkedin.com/in/venkatrathnam-cherala-b61a2b2a5"><strong style="font-size: large;">LinkedIn</strong></a>
        </div><br>
        <div mat-icon-button>
            <a href="https://github.com/venkatrathnam25"><strong style="font-size: large;">GitHub</strong></a>
        </div>
    </div>
</div>