<div class="about">
    <div class="myinfo">
    <h2>About Myself:-</h2>
    <h4>Hello, I am venkatrathnam cherala, a <b>software developer</b> with ,<br> specializing in backend technologies. I have expertise in HTML, CSS, JavaScript,
        java, sql,<br> springboot framework. <br>I am passionate about creating interactive and user-friendly web applications.<br>
        My knowledge has sharpened my skills in collaborating effectively with team members and delivering high-quality projects. <br>I am known for my strong communication and presentation skills.</h4>
        <h4>
        Feel free to contact me if you have any questions or opportunities!</h4>
    <button mat-flat-button>
        <mat-icon>call</mat-icon>
        <a href="tel:+916302587280">+91 6302587280</a>
    </button>
</div>
<div class="mypic">
    <img src="../../assets/images/pic2.jpg">
</div>
</div>
