<div class="contact">
    <div class="contact-info">
        <h2>Contact Information</h2>
        <p>Phone:- <a href="tel:+916302587280">+91 9133956966</a></p>
        <p>Email 1:- <a href="mailto:venkatrathnam.rfchh@gmail.com">venkatrathnam.rfchh@gmail.com</a></p>
        <p>Email 2:- <a href="mailto:venkatrathnam.rfchh@gmail.com">venkatrathnam.rfchh@gmail.com</a></p>
        <button mat-flat-button class="resume">
            <mat-icon>download</mat-icon><a href="../../assets/images/Cherala_venkatrathnam.pdf" download="Cherala_venkatrathnam.pdf">Download Resume</a>
        </button>
    </div>
    <div class="contact-form">
        <h2>LinkedIn & GitHub Accounts</h2>
        <div mat-icon-button>
            <mat-icon>linkedin</mat-icon>&nbsp;
            <a href="https://www.linkedin.com/in/venkatrathnam-cherala-b61a2b2a5"><strong style="font-size: large;">LinkedIn</strong></a>
        </div><br>
        <div mat-icon-button>
            <strong style="font-size: large;">&nbsp;<a href="https://github.com/venkatrathnam25">GitHub</a></strong>
        </div>
    </div>
</div>