<div class="skills-container">
    <div class="skills-section">
      <h2>Skills:-</h2>
      <div class="skills-list">
        <h2>HTML &nbsp; <mat-progress-bar class="bar" mode="determinate" value="90"></mat-progress-bar></h2>
        <h2>CSS &nbsp; <mat-progress-bar class="bar" mode="determinate" value="90"></mat-progress-bar></h2>
      
        <h2>springboot &nbsp; <mat-progress-bar class="bar" mode="determinate" value="80"></mat-progress-bar></h2>
        <h2>Java &nbsp; <mat-progress-bar class="bar" mode="determinate" value="70"></mat-progress-bar></h2>
        <h2>SQL &nbsp; <mat-progress-bar class="bar" mode="determinate" value="80"></mat-progress-bar></h2>
        <h2>c# &nbsp; <mat-progress-bar class="bar" mode="determinate" value="50"></mat-progress-bar></h2>
      </div>
      <hr>
      <div class="short-note">
        <h2>Short note:-</h2>
        <p>I have extensive knowledge of the above technologies, as well as experience with Visual Studio Code IDE and Git version control. I also excel in communication and time management skills.</p>
      </div>
    </div>
    <div class="projects-section">
      <h2>Projects:-</h2>
      <div class="projects-list">
        <div class="project1">
            <h2>Project 1:- Analysis of Women Safety Using Machine Learnig On Tweets. </h2>
            <h4>Description:-</h4>
            <p>Developed an Women Safety Application, TypeScript, and python and Machine Learning. Managed UI improvements and created offer popups. Integrated APIs for data fetching with filtering and pagination. Ensured data accuracy by removing duplicates. Created and maintained service files for CRUD operations.</p>
            <p>It was created by user friendly and responsive manner.</p>
        </div>
        <br>
       
        <div class="Education">
            <h2>Higher Education:-</h2>
            <h3>MCA - Master of Computer Applications [2021 to 2023]</h3>
            <p>Kakatiya University , Warangal</p>
            <p>Percentage:- 68%</p>
          </div>
      </div>
    </div>
</div>
<div class="projects">
  <h2>java certification</h2>
  <div class="video-container">
    
    <img width="600" height="415" src="../../assets/images/Java_Certification.jpeg" />
    </div>
    <h2>SQL certification</h2>
  <div class="video-container">
    
    <img width="600" height="415" src="../../assets/images/SQL_certification.jpeg" />
  </div>
</div>  
