<div class="home-container">
    <div class="image-content">
            <img src="../../assets/images/pic1.jpg" alt="Cherala venkatrathnam">
    </div> 
    <div class="intro">
      <div class="text-content">
          <h1>Software Developer</h1>
          <h2>Myself: venkatrathnam cherala</h2>
          <h2>I'm a 
            <span #typedElement></span>
          </h2><br>
          <p>I am a software developer specializing in java development.
            I excel in creating user-friendly and dynamic web applications.</p>
            <hr> 
        </div>
      <div class="details">
        <button mat-flat-button>
        <mat-icon>download</mat-icon>
        <a mat-button href="../../assets/images/Cherala_venkatrathnam.pdf" download="Cherala_venkatrathnam.pdf">Download CV</a>
        </button>&nbsp;
        <button mat-flat-button>
        <mat-icon>email</mat-icon>&nbsp;<a mat-button href="mailto:venkatrathnam.rfchh@gmail.com">Email</a>
        </button>&nbsp;
        <button mat-flat-button>
          <a mat-button  routerLink="/contact" routerLinkActive="active">Hire Me</a>
        </button>
    </div>
  </div>
</div>
