.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #6fdde4; 
    border-radius: 15px;
  }
  
  .home-container:hover {
    background-color: #59aebd; /* Background color on hover */
    
  }
  
  .intro {
    flex: 1;
    margin-right: 20px;
  }
  
  .text-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .text-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .text-content p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .text-content hr {
    margin: 20px 0;
  }
  
  .details button {
    margin: 10px 5px;
  }
  .details button:hover{
    background-color: brown;
  }
  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .image-content img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
   
  }
  /* Media query for tablets */
  @media (max-width: 1024px) {
    .home-container {
      flex-direction: column;
      text-align: center;
    }
    .intro {
      margin-right: 0;
    }
    .text-content h1 {
      font-size: 2rem;
    }
    .text-content h2 {
      font-size: 1.5rem;
    }
    .text-content p {
      font-size: 1rem;
    }
    .details button {
      display: block;
      margin: 10px auto;
    }
    .image-content {
      margin-top: 20px;
      
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .text-content h1 {
      font-size: 1.5rem;
    }
  
    .text-content h2 {
      font-size: 1.2rem;
    }
  
    .text-content p {
      font-size: 0.9rem;
    }
  
    .details button {
      width: 100%;
      margin: 10px 0;
    }
  
    .image-content {
      width: 100%;
    }
  
    .image-content img {
      width: 100%;
      height: auto;
    }
  }